extends layout.pug

block scripts
    link(rel="stylesheet", href="../static/css/piano.css")
    script(src="../static/javascripts/compose.js", type="module")

block content 
    hr
    div(id="synthesizer-keyboard", class="synthesizer-keyboard")
