extends layout.pug 

block scripts
    script(src="../static/javascripts/keyboard.js", defer)

block content 
    div(class="container")
        div(id="header", class="border border-dark bg-dark bg-opacity-10 shadow-lg border-1 m-3 p-3 rounded")
            h4(class="text-light mx-auto") Setup
            hr(class="divider-horizontal")
            button(id="conn-btn", type="button", class="btn btn-success my-1 mb-2") Connect
        div(class="row align-items-start")
            div(class="col border border-dark bg-dark bg-opacity-10 shadow-lg border-1 rounded p-3 m-1")
                div(id="musical-notes" class="musical-notes")
                    h4(class="text-light mx-auto") Notes
                    hr(class="divider-horizontal")
            div(class="col border border-dark bg-dark bg-opacity-10 shadow-lg border-1 rounded p-3 m-1")
                h4(class="text-light") Recorded Notes
                hr(class="divider-horizontal")
                p(id="recorded-notes")
                button(id="play-recorded-btn", type="button", class="btn btn-danger", disabled=true) Play
                button(id="clear-recorded-btn", type="button", class="btn btn-secondary mx-1", disabled=true) Clear