div.piano-octave {
    clear: both
}

.white-note {
    padding-top: 90px;
    width: 40px;
    height: 120px;
    float: left;
    position: relative;
    z-index: 1;
}

.black-note {
    width: 25px;
    height: 60px;
    position: absolute;
    transform: translateX(-50%);
    z-index: 2;
}